body, * {
  margin: 0;
}
.main {
  background-color: rgb(236, 219, 193);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.mainQuizes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quizes-here {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.quiz {
  margin: 20px 60px;
  background: #da81813e;
  color: rgb(196, 115, 115);
  padding: 15px;
  border: 1px solid #ffbbbb3e;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: auto;
  flex-wrap: wrap;
  align-items: center;
}

.start-quiz {
  border: 1px solid #5f4545;
  border-radius: 7px;
  color: rgb(255, 255, 255);
  background-color: #9cc4c5;
  height: 2vw;
  width: 7vw;
  font-size: 1.1vw;
  bottom: 5vw;
  cursor: pointer; 
  font-weight: bold;
}


.login-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 25px;
  background-color: rgb(50, 95, 109);
  width: 25vw;
  border: 1px rgb(50, 95, 109);
  border-radius: 20px;
  color: white;
}

input {
  height: 2.4vw;
  width: 20vw;
  border: 1px white;
  border-radius: 7px;
  padding-left: 7px;
}

.login-button {
  width: 7vw;
  cursor: pointer; 
  border: 1px rgb(255, 255, 255) !important;
  font-weight: bold; 
  font-size: 1em; 
  color: rgb(50, 95, 109);
}

.login-div {
  height: 25vw;
  position: absolute;
  top: 30%;
  left: 38%;
 
}

.header {
  background-color: rgb(50, 95, 109);
  height: 5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

a {
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  text-decoration: none;
  font-weight: bold;
  
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: center;
  height: 15vw;
  background-color: rgb(50, 95, 109);
  width: 20vw;
  border: 1px rgb(50, 95, 109);
  border-radius: 20px;
  color: white;
  position: absolute;
  top: 25%;
}

.pass-quiz-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: center;
  height: auto;
  padding: 30px;
  background-color: rgb(50, 95, 109);
  width: auto;
  border: 1px rgb(50, 95, 109);
  border-radius: 20px;
  color: white;
  position: absolute;
  top: 25%;
}

.answers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.next-button{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

input[type=radio]{
  height: 20px;
  width: 3vw !important;
  vertical-align: middle; 
}

.main-name {
  padding-top: 20px;
}

.title {
  font-weight: bold;
  color: rgb(128, 77, 61);
}

.title-head {
  color: rgb(50, 95, 109);
}

.music {
  color: rgb(255, 250, 250);
  background-color: transparent;
  height: auto;
  width: auto;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  border: none; 
}

